.otpBtn {
	background-color: #fff;
	color: rgb(25, 25, 25);
	border-radius: 1rem;
	border: 1px solid transparent;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	margin-top: 10px;
}

.form-check .form-check-input {
	width: 50px;
	height: 25px;
}

.form-check .form-check-label {
	font-size: medium;
}

.container-toggle {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 16px;
	width: max-content;
	margin-bottom: 20px;
	right: 60px !important;
	box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
	gap: 20px;
}

.container {
	width: 100%;
	max-width: none;
	margin: 0;
	padding: 0;
}

.btn {
	display: flex;
	gap: 0.5rem;
	text-transform: uppercase;
	font-weight: 500;
}

.tab-icon {
	color: #a0a0a0;
}

.tab-icon :hover {
	color: rgb(111, 164, 255);
}

.tab-active {
	color: rgb(0, 94, 255);
}

.btn-icon {
	padding: 0;
	color: rgb(0, 94, 255);
}

.btn-row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.card {
	border-color: #7e7e7e;
	width: 100%;
}

.card em {
	font-style: normal;
	font-weight: bold;
}

#side-bar {
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

#tabs-menu {
	width: 72px;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 1rem;
	align-items: center;
}

#tab-contents {
	z-index: inherit;
	padding: 1rem;
	height: 100vh;
	width: 408px;
	display: block;
	overflow: scroll;
}

#collapse-btn {
	position: absolute;
	margin: -28px;
	padding: 6px;
	z-index: inherit;
	background-color: white;
	border-radius: 0 0.375rem 0.375rem 0;
	box-shadow: 5px 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.non-ads-card {
	background-color: #e5f6fd;
	border: none;
	color: #014361;
}

.user-selection-card {
	background-color: #edf7ed;
	border: none;
	color: #224924;
}

#Ads {
	margin-left: 8px;
}
